{% extends 'base.html' %}
{% block title %}
    Gallery
{% endblock title %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
</head>
<body style="background-color:orange;">
    <h1>Photo Gallery of EES, BIT Sindri</h1>
    <img src="C:\Users\Sanskar\flask_img\butter1.jpeg" alt="butterfly">
    <p>This image was during the webinar of Ankit Goel regarding preparartion of gate examination</p>
    <hr>
    <img src="C:\Users\Sanskar\flask_img\butter1.jpeg" alt="butterfly">
    <p>This image was during the webinar of Ankit Goel regarding preparartion of gate examination</p>
    <hr>
    <img src="C:\Users\Sanskar\flask_img\butter1.jpeg" alt="butterfly">
    <p>This image was during the webinar of Ankit Goel regarding preparartion of gate examination</p>
{% endblock body %}
