{% extends "base.html" %}
{% block title %}
    misc
{% endblock title %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductPage</title>
</head>
<body style="background-color:orange;">
    <h1><b>Diary Products</b></h1>
    <p>This paragraph will give you a brief idea about the various diary prodcuts</p>
    <h1>Meat Products</h1>
    <p>This paragraph will give you a brief idea about the various meat prodcuts</p>
</body>
{% endblock body %}