{% extends 'base.html' %}
{% block title %}
    notice and announcement
{% endblock title %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notices & announcements</title>
</head>
<body style="background-color:orange;">
    <h1>Notice</h1>
    <p>All the members of the society are informed that all the kind 
        of society events will the suspended till the commencement of new academic session</p>
        <address>By the order
            Professor Incharge
            Mani Shankar Matta
            BIT Sindri Dhanbad
        </address>

    <h1>Announcements</h1>
    <p>The society is going an event for improving the academic excellence
         of students of all the years.So all the students are ordered to actively
          participate in this event.</p>

{% endblock body %}
