{% extends "base.html" %}
{% block title %}
    sports culture
{% endblock title %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sports & culture</title>
</head>
<body style="background-color: orange;">
    <h1>Sports</h1>
    <p>Sports ke naam pe yeh club sirf chutiya bnaya hai baccha log ko</p>
    <hr>
    <h1>Culture</h1>
    <p>Society hi logo se bhara hua hai toh kya ka culture hai society me</p>
</body>
{% endblock body %}
