{% extends "base.html" %}
{% block title %}
    student_info
{% endblock title %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student_info</title>
</head>
<body style="background-color:orange;">
    <p>All the studenst related Information will be provided here,and the data published here is only after the consent of students</p>
</body>
{% endblock body %}
